PATH_add packages/tkg
PATH_add $PWD/scripts
PATH_add $PWD/bin

export KUBECONFIG=$PWD/.kubeconfig
export SCRIPT_ROOT=$PWD
export PROJECT_ROOT=$PWD

alias k=kubectl
alias d=docker
alias kctx="k ctx"
alias kns="k ns"

source <(kubectl completion bash)
complete -F __start_kubectl k


dotenv
