CLIENT=client1
JUMPBOX_IP=192.168.1.1
POC_DOMAIN=corp.local
ROOT_DOMAIN=client1.corp.local
LOCAL_REGISTRY=192.168.1.1:5000
TKG_CUSTOM_IMAGE_REPOSITORY=192.168.1.1:5000
TKG_CUSTOM_IMAGE_REPOSITORY_SKIP_TLS_VERIFY=true
GOVC_URL=https://vcsc-01.corp.local
GOVC_INSECURE=true
GOVC_USERNAME=administrator@vsphere.local
GOCV_PASSWORD=secret
VMWUSER=yogendrarampuria@gmail.com
VMWPASS=secret
MGMT_API=192.168.1.100
MGMT_LB_RANGE=192.168.101-192.168.105
SHARED_API=192.168.1.106
SHARED_LB_RANGE=192.168.107-192.168.110
APPS_API=192.168.1.111
APPS_LB_RANGE=192.168.112-192.168.115

